// /* Style the chatroom container */
// .chatroom {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 3px;
//   background-color: #e5b989;
//   border-top: 1px solid #ccc;
// }

// .chatroom.container {
//   border-radius: 0px;
//   padding-bottom: 20px;
//   width: 900px;
//   margin-top: 75px;
//   margin-bottom: 75px;
//   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
// }

// /* Style the message input */
// .chatroom input[type="text"] {
//   width: 800px; /* Make the input full width */
//   padding: 10px;
//   border: none;
//   border-radius: 5px;
//   outline: none;
//   font-size: 16px;
//   margin-bottom: 10px; /* Add some spacing between input and button */
// }


// .chatroom input[type="submit"] {
//   width: 100%; /* Make the button full width */
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   padding: 10px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
// }

// .chatroom input[type="submit"]:hover {
//   background-color: #4d116e;
// }

// /* Style the messages container */
// .messages {
//   margin-top: 20px;
//   padding: 20px;
//   background-color: #cfcbd1;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   max-height: 400px; /* Adjust as needed */
//   overflow-y: auto;
//   width: 800px;
// }

// /* Style individual messages */
// .message {
//   padding: 10px;
//   margin-bottom: 10px;
//   border-radius: 5px;
//   background-color: whitesmoke;
//   width: 500px;
// }



// /* Center align the chatroom title and input */
// .chatroom h1,
// .chatroom .sendbutton {
//   text-align: center;
// }

// /* Center the send button vertically */
// .sendbutton {
//   display: flex;
//   align-items: center;
//   color: #4d116e;
// }


// .chatroom {
//   width: 500px;
// }


// .custom-form {
//   width: 80%;
//  }

.chatroom {
  background-color: white;
  margin: 0;
  padding: 0;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    background-color: #3B2747;
    color: white;
  }

  .icon_chatroom{
    border-bottom: 1px solid $gray-200;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
  }


  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

#chatroom_container{
  background-color: #ffa24513;
  margin: 0 auto;
  width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 800px;
}

.unique_form input{
  height: 59px;
  margin-top: 20px;
}

.sender-style{
  background: linear-gradient(#ffa345, #ffa245b3);


}
.receiver-style{
  background: linear-gradient(#3b2747, #3b2747b3);
color: white;
}

#btn-input{
  height: 59px;
    margin-top: 20px;
}
