// Specific CSS for your home-page
body{
  background-color: white;
}

.cities{
  display: flex;
  margin: 10px;
  margin-left: 150px;
}

.cities .btn{
  color: white;
  background-color:#3b2747 ;
  margin-left: 10px;
  font-size: 17px;
  padding: 5px;
  border-style: none;
  font-family: 'Montserrat', sans-serif;

  &:hover{
    background-color: #ffa345;
    transition: 0.3s;
    opacity: 0.6;
    box-shadow: 0px 2px 2px #3b274743;
  }
}

.cards-container{
  display: flex;
  margin-top: 50px;
}

.cards-container .cards {
  flex-grow: 1;
  padding-right: 16px;
}

.cards-container .map{
  position: sticky;
  top: 0;
  margin-right: 50px;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  color: black;
  margin-left : 60px;
  border-radius: 10px 10px;
  width: 50%;
}

.card-category{
  width: 300px;
  height: 400px;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
  margin-bottom: 50px;
  border-radius: 10px 10px 10px;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 2px 2px #3b274743;
    top: -4px;
    transform: translateY(-.5%);
  }
}

.card-category h1{
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.card-category .location{
  text-align: center;
  color: #ffa345;
}


.cards ul {
  padding: 0;
}

.text{
  overflow: hidden;
  white-space: nowrap;
  font-size: 10px;
  margin-right: 10px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.639);
}

.list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 0;
}

.list .price {
  display: block;
  color:#3b2747;
}

.list .capacity{
  display: block;
  color:#3b2747;
}

.list .price p {
  color:#3b2747;
}

.list .capacity p {
  color:#3b2747;
}

.list li{
  font-size: 30px;
  font-weight: 600;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
  text-decoration: none;
}

.indoor{
  color: black;
  background-color: #FFDBAA;
  width: 20%;
  border-radius: 10px 10px;
  margin: 0 auto;
  text-align: center;
}

.outdoor{
  color: black;
  background-color: #96C291;
  width: 25%;
  border-radius: 10px 10px;
  margin: 0 auto;
  text-align: center;
}
// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

.mainbuttons button a {
  color: white;
}
