/* Reset default margin and padding */
body, h1, h2, p {
  margin: 0;
  padding: 0;

}

h2 {
  font-weight: bold;
}


.master-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 75%;
  margin-top: -200px;
}


.content-container {
  display: flex;
}

.image-container {
  flex: 1;
  padding: 20px;
}


.form-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: auto;
}


.signin-image {
  max-width: 100%;
  height: auto;
}

/* Your existing styles for .login and other elements */

.toplogi_in a img{
  width: 100px;
  margin: 0 auto;
  padding-top: 50px;
  margin-left: 830px;
}
