.footer {
  background: #3b2747;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #f2ad73;
  opacity: 0.6;
  text-decoration: none;
  font-size: 50px;
  padding: 0px 30px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
  font-size: 30px
}
.footer-copyright{
  color: #f2ad73;
  font-size: 30px;
}
