.navbarr-lewagon {
  justify-content: space-between;
  margin-top: 0;
  padding-bottom: 0;
}

#navbarSupportedContent {
  flex-grow: 0;
}

.navbarr-lewagon .navbarr-brand .logotop {
  width: 115px;
}

#topnavbar{
  padding-top: 0;
}

.nav-item .fa-solid{
  width: 30px;
}

.nav-item .nav-link{
  font-size: 22px;
}

.sidemenu a{
  color:#ffa345;
  &:hover{
    background-color: rgba(255, 255, 255, 0.334);
  }
}

.sidemenu{
  display: flex;
  align-items: center;
}

.avatar-bordered{
  width: 90px;
  cursor: pointer;
}

.dropdown-menu{
  background-color: #ffa2457e;
}

.navbar-nav{
  align-items: center;
}

.navbar-nav li{
  margin-left: 20px;
}

@media(max-width: 844px) {
  .nav-item .nav-link{
    font-size: 13px;
  }
  .logotop {
    width: 20px;
  }

}
