.navbarr-lewagon {
  justify-content: space-between;
  margin-top: 0;
}

#navbarSupportedContent {
  flex-grow: 0;
}

.navbarr-lewagon .navbarr-brand .logotop {
  width: 100px;
}

#topnavbar{
  padding-top: 0;
}
